/* Default styles for desktop */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode {
  background-color: #121212; /* dark grey */
  color: #e0e0e0; /* light grey */
}
.inline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.inline-container iframe,
.inline-container a {
  display: inline-block;
  vertical-align: middle;
}
textarea {
  margin-top: 20px;
  width: 80%;
  height: 150px;
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode textarea {
  background-color: #333333;
  color: #e0e0e0;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
img[src$=".svg"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.dark-mode img[src$=".svg"] {
  width: 16px;
  height: 16px;
  filter: invert(100%);
  vertical-align: middle;
}
button:hover {
  background-color: #dddddd;
  color: #000000;
}
button i {
  margin-right: 8px;
}
.dark-mode button {
  background-color: #444444;
  color: #e0e0e0;
}
.dark-mode button:hover {
  background-color: #555555;
  color: #ffffff;
}
button.light-dark-toggle {
  background-color: #6a0dad;
  color: #ffffff;
}
button.light-dark-toggle:hover {
  background-color: #8a2be2;
}

.github-sponsor-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: lighter;
  color: #000;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}
.github-sponsor-button:hover {
  background-color: #a3a3a3;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  textarea {
    width: 95%;
    height: 100px;
  }

  button {
    width: 100%;
    padding: 15px;
  }
}
